{% extends "base.html" %}

{% block title %}
    {{ titulo }}
{% endblock%}

{% block siteContent %}

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h1 class="sideMenuHead">GADI</h1>
        </div>

        {% from "sideMenu.html" import sideMenu %}
        <!-- sideMenu.html -->

            {{ sideMenu }}

            <ul class="list-unstyled CTAs">
                {% from "sideButtons.html" import sideButtons %}
                <!-- sideButtons.html -->
                {{ sideButtons }}
            </ul>

        <!-- sideMenu.html -->
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        {% block upperNav %}
        <!-- upperNav.html -->
        {% endblock %}

        {% block mainBody %}
        <!-- mainBody.html -->
        {% endblock%}

    </div>
</div>


{% endblock %}


</div>