{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
	<div class="container">
		<div class="mt-2">
			<h1 mt-2>Diccionario de datos</h1>
		</div>
		<br>

		<div>
			<table class="table table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Component ID</th>
						<th scope="col">Name</th>
						<th scope="col">Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> {{ DataComponentId }} </td>
						<td> {{ DataComponentName }} </td>
						<td> {{ DataComponentDescription }} </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}